<!DOCTYPE html>
{% extends 'trainer/base.html' %}

{% block body_block %}
    <div class="container">
        <h2 align="center">Applied Jobs</h2>
        <div class="row">
            {% for job in jobs %}
                <div class="col-lg-4">
                    <div class="card text-center" style="margin-top: 2%;">
                        <div class="card-header">
                            {{ job.title }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Skill : {{ job.skill }}</h5>
                        </div>
                        <div class="card-footer text-muted">
                            Status : {{ job.status }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}